@import "../scss/reset.scss";

//variables

@mixin childFlex{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
@mixin trBorder {
    border-bottom: 1px solid rgb(140, 168, 167);  
    width: 95%;
    margin: 0 auto;
}
@mixin td{
    width: 20%;
    @include childFlex;
    overflow: hidden;

}
@mixin th {
    text-align: left;
    font-weight: bold;
    width: 19%;
    margin: 0 1%;
    overflow: hidden;
}
@mixin a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(50, 158, 17);
    &:hover{
        color: rgb(3, 44, 42); 
    }
}
body{
    font-size: 16px;
    background-color: rgb(216, 236, 230);
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(8, 85, 81);
        .content{
            position:relative;
        }
        .container{
            margin: 0 auto;
            width: 80%;
            .headerTable{
                font-size: 16px;
                width: 100%;
                display:flex;
                flex-direction: row;
                background-color: rgb(3, 44, 42);
                height: 80px;
                    h2{
                        color:rgb(216, 236, 230);
                        width: 60%;
                        padding: 24px;
                        font-size: 28px;
                        font-style: italic;
                        display:flex;
                        flex-direction: row;
                        }
                    .button{
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        width: 25%;
                        background-color: rgb(11, 155, 47);
                        color: rgb(183, 240, 237);
                        height: 48px;
                        margin: 16px 5%;
                        font-weight: 400;
                        &:hover{
                            background-color:rgb(80, 206, 42);
                            color:rgb(3, 44, 42);
                            transition-delay: 8ms;
                        }
                        .more{
                            margin: 8px;
                            border-radius: 50%; 
                            background-color: rgb(184, 216, 211);
                            color:rgb(50, 158, 17);;
                            padding: 0 4px;
                            font-weight: bold;
                            
                        }
                    }
                }
                .searchFather{
                    width: 100%;
                    background-color: whitesmoke;
                    display: flex;
                    flex-direction: row-reverse;
                    height:80px;
                    .search{
                        width: 35%;
                        height: 40px;
                        margin: 16px;
                        
                    }
                }
                .table{
                    background-color: whitesmoke;
                    width: 100%;
                    tr{
                        @include childFlex;
                        @include td;
                        @include trBorder;
                        height: 40px;
                        margin-top: 16px;
                        width: 98%;
                    }        
                    th{
                        @include th;
                        .checkbox{
                            margin-right: 16px;
                        }
                        .contentIcons{
                            text-align: center;
                        }
                    }
                    td{
                        @include th;
                        font-weight: normal;
                        font-size: 14px;
                        .contentIcons{
                        text-align: right;
                        }
                        a{
                        @include a;
                        }
                    }
                }
        }
    .modal{
        width: 28%;
        min-width:230px;
        height: 500px;
        background-color: rgb(184, 221, 169);
        margin:24px 36%;
        position: absolute;
        display:none;
        .title{
            @include childFlex;
            width: 100%;
            height: 80px;
            background-color:rgb(109, 204, 125); 
            h2{
                font-size:32px;
                margin:24px;
            }
            a{
                @include a;
                color: 1px rgb(3, 31, 29);
                font-size: 20px;
                margin:4px;
            }
        }
        .inputGroup{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            justify-content: center; 
            width: 90%;
            margin:24px;
            .label{
                font-size: 16px;
                font-weight: 800;
                margin-bottom: 4px;

            }
            input{
                height: 32px;
                color: rgb(3, 44, 42);
                border:none;
            }
        }
        .contentBtn{
            width: 100%;
            @include childFlex;
            justify-content: space-around;
            margin-top:60px;
        }
        .btnModal{
            width: 100px; 
            background-color: rgb(11, 155, 47);
            color: rgb(183, 240, 237);
            height: 32px;
            font-weight: 400;
            font-size: 16px;
            &:hover{
                background-color:rgb(80, 206, 42);
                color:rgb(3, 44, 42);
                transition:all 0.3s ease;
            } 
        }
    }
    .modalDelete{
        width: 30%;
        height: 240px;
        position: absolute;
        margin: 24px 35%;
        background-color: rgb(131, 238, 158);
        display: none;
        .title{
            @include childFlex;
            width: 100%;
            height: 80px;
            background-color:rgb(109, 204, 125); 
            h2{
                font-size:32px;
                margin:24px;
            }
            a{
                @include a;
                color: 1px rgb(3, 31, 29);
                font-size: 20px;
                margin:4px;
            }
        }
        .message{
            width: 100%;
            height: 80px;
            text-align: center;
            p{
                padding-top: 16px; 
                font-size: 18px;
            }
        }
        .buttons{
            width: 100%;
            @include childFlex;
            justify-content: space-around;
            margin-top:20px;
        }
        .btnModal{
            width: 100px; 
            background-color: rgb(11, 155, 47);
            color: rgb(183, 240, 237);
            height: 32px;
            font-weight: 400;
            font-size: 16px;
            &:hover{
                background-color:rgb(80, 206, 42);
                color:rgb(3, 44, 42);
                transition:all 0.3s ease;
            } 
        }
    }
}
        

    

