@import "../scss/reset.scss";

//variables
$tbBorder:rgb(140, 168, 167);
$tbHeaderBg: rgb(3, 63, 48);
$actIcon: rgb(50, 158, 17);
$actIconHover: rgb(3, 44, 42);
$btnBgHover: rgb(80, 206, 42);
$btnBg:rgb(11, 155, 47);
$headerBg: rgb(109, 204, 125);
$btnText:  rgb(183, 240, 237);
$bodyBg: rgb(184, 221, 169);
$modalBg:  rgb(184, 221, 169);
$fontColor: rgb(4, 39, 37);
$tbBg:whitesmoke;
$inpBrd: #6f6f6f;
$secondaryColor: lighten(#76A63F,25);
$fontThBg: #fff;
$thBg:rgb(63, 121, 77);
$h2Bg:rgb(216, 236, 230);
$width: 900px;
$frozen-width: 140px;


@mixin childFlex{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
@mixin row{
    display:flex;
    flex-direction: row;
    
}
@mixin center {
    margin-left : auto;
    margin-right : auto;
  }

@mixin a {
    text-decoration: none;
    cursor: pointer;
    color:$actIcon;
    &:hover{
        color: $actIconHover; 
    }
}
body{
    font-size: 16px;
    background-color:$bodyBg;
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:$fontColor;
    @media only screen and (max-width : 290px){
        
        margin-top: 16px;
    }
        .content{
            position:relative;
        }
        .container{
            margin: 0 auto;
            width: 80%;
            @media only screen and (max-width : 700px){
                width: 96%;
            }
            .headerTable{
                @include row;
                font-size: 16px;
                width: 100%;
                background-color:$tbHeaderBg;
                height: 80px;
               
                     h2{
                        @include row;
                        color:$h2Bg;
                        width: 60%;
                        padding: 24px;
                        font-size: 28px;
                        font-style: italic;
                        @media only screen and (max-width : 700px){
                            font-size: 22px;
                            padding-bottom: 8px;
                        }
                        @media only screen and (max-width : 520px){
                            font-size: 18px;
                        }
                        @media only screen and (max-width : 290px){
                            font-size: 14px;
                        }
                       }
                    .button{
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        width: 25%;
                        background-color: $btnBg;
                        color: $btnText;
                        height: 48px;
                        margin: 16px 5%;
                        font-weight: 400;
                        @media only screen and (max-width : 700px){
                            font-size: 14px;
                            padding-right: 8px;
                            width: 35%;
                        }
                        @media only screen and (max-width : 520px){
                            font-size: 12px;
                            width: 30%;
                            height: 36px;
                        }
                        @media only screen and (max-width : 290px){
                            font-size: 10px;
                        }
                        &:hover{
                            background-color:$btnBgHover;
                            color:$actIconHover;
                            transition-delay: 8ms;
                        }
                        .more{
                            margin: 8px;
                            border-radius: 50%; 
                            background-color:$btnText;
                            color:$btnBg;
                            padding: 0 4px;
                            font-weight: bold;
                            &:hover{
                                background-color:$btnBgHover;
                                color:$actIconHover;
                                transition-delay: 8ms;
                            }
                        }
                    }
                }
                .searchFather{
                    width: 100%;
                    display: flex;
                    flex-direction: row-reverse;
                    height:80px;
                    .search{
                        width: 30%;
                        margin: 16px;
                        border-radius: 20px;
                        outline: none;
                        background-color:white;
                        border: 0;
                        padding: 20px;
                        @media only screen and (max-width : 520px){
                            width: 50%;
                            font-size: 12px;
                        }
                        
                    }
                }
                .table{
                    font-size: 14px;
                    border: 1px solid rgba($secondaryColor,.5);
                    border-top: $tbHeaderBg;
                    color: #666;
                    border-collapse: collapse;
                    background-color: #fff;
                    @media only screen and (max-width : 290px){
        
                        font-size: 12px;
                    }
                    @include center;
                    td, th {
                        padding : 8px;
                        border-bottom: 1px solid rgba($secondaryColor,.5);
                        a{
                         @include a;
                         &:first-of-type {
                             padding-right: 24px;
                             
                             
                           }
                         
                       }
                     }
                     th {
                       background-color :$thBg;
                       color: $fontThBg;
                       font-weight : normal;
                       text-align : center;
                    }
                    td {
                      text-align : center;
                      &:first-of-type {
                      text-align : left;
                     }
                    }
                    tr {
                        &:hover {
                            background : rgba($secondaryColor,.2);
                        }
                        td:nth-child(2n){
                             background : rgba($secondaryColor,.2);
                            }
                        }
                    }
                    .tableContainer {
                        overflow-x: auto;
                    }
                    .table {
                        min-width: $width;
                        width: 100%;
                        th:first-child {
                            width : $frozen-width;
                        }
                    }
                }
                    
    .modalWrapper{
        background-color: rgba(0, 0, 0, 0.85);
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        display: none;
        z-index: 100;
        .modal{
            box-sizing: border-box;
            width: 40%;
            min-width:385px;
            max-width: 450px;
            height: auto;
            margin: 5% auto 5%;
            background-color:$modalBg;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 5px;
            z-index:200;
            overflow: hidden;
            @media only screen and (max-width : 400px){
                min-width:240px;
                max-width: 350px; 
            }
            .title{
                box-sizing: border-box;
                width: 100%;
                padding: 5%;
                background-color:$headerBg;
                h2{
                    font-size:30px;
                    text-align: center;
                    line-height: 30px;
                    vertical-align: center;
                    @media only screen and (max-width : 900px){
                        font-size: 26px;
                    }
                    @media only screen and (max-width : 400px){
                        font-size: 22px; 
                    }
                }
                a{ 
                    @include a;
                    color: $btnBg;
                    font-size: 20px;
                    font-weight: 400;
                    margin:4px;
                    background-color: $modalBg;
                    position: fixed;
                    top: 0;
                    right: 0;
                    width: 30px;
                    height: 30px;
                    border-radius: 5%;
                    text-align: center;
                    line-height: 30px;
                    &:hover{
                        background-color: $btnText;
                        color: $actIconHover;
                        transition:all 0.3s ease;
                    }
                }
            }
            .formContainer{
                width: 100%;
                .inputGroup{
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: left;
                    width: 80%;
                    margin:5% 10%;
                    .label{
                        font-size: 16px;
                        font-weight: 800;
                        margin-bottom: 4px;
                    }
                    input{
                        height: 32px;
                        width: 100%;
                        color: $fontColor;
                        border:1px solid $inpBrd;
                        border-radius: 3px;
                        &:focus{
                            outline: none;
                            border: 3px solid $inpBrd; 
                            box-shadow: $fontColor 5px 10px 10px;
                        }
                        // .valid{ //REVISAR
                        //     color:#3c3c3c;
                        //     font-size:18px;
                        //     line-height:22px;
                        //     background-color:#fbfbfb;
                        //     padding: 13px 13px 13px 54px;
                        //     margin-bottom:10px;
                        //     width:100%;
                        //     box-sizing:border-box;
                        // }
                        .error{
                            color: red;
                            border: 2px solid darkred;
                        }
                    }
                    div{
                        display: none;
                        &.error{
                            display: block;
                            color:darkred;
                            height: 20px;
                            font-weight: 200;
                            font-size: 0.7em;
                            position:relative;
                            right: 0px;
                            top: -52px;
                            text-align: right;
                        }
                    }
                    

                }
            }
            .contentBtn{
                width: 80%;
                margin: 10% 10%;
                @include childFlex;
                justify-content: space-between;
            }
            .btnModal{
                width: 40%;
                background-color: $btnBg;
                color: $btnText;
                height: 32px;
                font-weight: 400;
                font-size: 16px;
                &:hover{
                    background-color: $btnBgHover;
                    color: $actIconHover;
                    transition:all 0.3s ease;
                } 
            }
        }
    }        
    .modalDelete{
        width: 30%;
        height: 240px;
        position: absolute;
        margin: 80px 35%;
        background-color: rgb(131, 238, 158);
        display: none;
        @media only screen and (max-width : 900px){
            width: 46%;
            margin: 80px 28%;
        }
        @media only screen and (max-width : 700px){
            width: 60%;
            margin: 80px 20%;
        }
        @media only screen and (max-width : 520px){
            width: 80%;
            margin: 40px 10%;
        }
        @media only screen and (max-width : 400px){
            width: 96%;
            margin: 40px 2%;
        }
        .title{
            @include childFlex;
            width: 100%;
            height: 80px;
            background-color:rgb(109, 204, 125); 
            @media only screen and (max-width : 400px){
                height: 60px;
            }
           
            h2{
                font-size:32px;
                margin:24px;
                @media only screen and (max-width : 400px){
                    font-size: 22px;
                }
            }
            a{
                @include a;
                color: 1px rgb(3, 31, 29);
                font-size: 20px;
                margin:4px;
               
            }
        }
        .message{
            width: 100%;
            height: 80px;
            text-align: center;
            @media only screen and (max-width : 400px){
               height: 100px;
            }
            p{
                padding-top: 16px; 
                font-size: 18px;
                
            }
        }
        .buttons{
            width: 100%;
            @include childFlex;
            justify-content: space-around;
            margin-top:20px;
        }
        .btnModal{
            width: 100px; 
            background-color: rgb(11, 155, 47);
            color: rgb(183, 240, 237);
            height: 32px;
            font-weight: 400;
            font-size: 16px;
            &:hover{
                background-color:rgb(80, 206, 42);
                color:rgb(3, 44, 42);
                transition:all 0.3s ease;
            } 
        }
    }
}
        

    

