@import "../scss/reset.scss";
@mixin childFlex{
    display:flex;
    flex-direction: row;
    justify-content: space-between;


}
@mixin trBorder {
 border-bottom: 1px solid rgb(140, 168, 167);  
 width: 95%;
 margin: 0 auto;
}
@mixin td{
width: 18%;
@include childFlex;

}
@mixin th {
    text-align: left;
    font-weight: bold;
    width: 19%;
    margin: 0 1%;
}
@mixin a {
        text-decoration: none;
        cursor: pointer;
        color: rgb(50, 158, 17);
        &:hover{
           color: rgb(3, 44, 42); 
        }
    
    }



body{
    font-size: 16px;
    background-color: rgb(216, 236, 230);
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(8, 85, 81);
    
    
    
        .container{
            margin: 0 auto;
            width: 80%;
                    .headerTable{
                            font-size: 16px;
                             width: 100%;
                             display:flex;
                             flex-direction: row;
                             background-color: rgb(3, 44, 42);
                             height: 80px;
                                    h2{
                                       color:rgb(216, 236, 230);
                                        width: 60%;
                                        padding: 24px;
                                        font-size: 32px;
                                        display:flex;
                                         flex-direction: row;
                                       }
                                    .button{
                                        display:flex;
                                        justify-content: center;
                                        align-items: center;
                                        width: 25%;
                                        background-color: rgb(11, 155, 47);
                                        color: rgb(183, 240, 237);
                                        height: 48px;
                                        margin: 16px 4%;
                                        font-weight: 400;
                                        &:hover{
                                            background-color:rgb(80, 206, 42);
                                            color:rgb(3, 44, 42);
                                            transition-delay: 8ms;
                                        }
                                                .more{
                                                    margin: 8px;
                                                    border-radius: 50%; 
                                                    background-color: rgb(184, 216, 211);
                                                    color:rgb(50, 158, 17);;
                                                    padding: 0 4px;
                                                    font-weight: bold;
                                                   
                                                }
                                    }
                                   

                                }
                                .searchFather{
                                    width: 100%;
                                    background-color: whitesmoke;
                                    display: flex;
                                    flex-direction: row-reverse;
                                    height:80px;
                                            .search{
                                                width: 35%;
                                                height: 40px;
                                                margin: 16px;
                                                
                                            }
                                }
                                .table{
                                    background-color: whitesmoke;
                                    width: 100%;
                                    
                                             tr{
                                                @include childFlex;
                                                @include td;
                                                @include trBorder;
                                                height: 40px;
                                                margin-top: 16px;
                                                width: 90%;
                                            }
                                                
                                                         th{
                                                          @include th;
                                                            .checkbox{
                                                                margin-right: 16px;
                                                            }
                                                            .contentIcons{
                                                                text-align: center;
                                                            }
                                                         }
                                                         td{
                                                             @include th;
                                                             font-weight: normal;
                                                             font-size: 14px;
                                                             .contentIcons{
                                                                text-align: center;
                                                            }
                                                             .checkbox{
                                                                margin-right: 16px;
                                                              }
                                                                 a{
                                                                   @include a;
                                                                 }
                                                         }




                                            }
                                            
                                            

                                }
                    }
        
